# Ignore virtual environment folders
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore local environment variables file
.env

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore pickle files
*.pkl

# Ignore log files
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore build and distribution folders
build/
dist/
*.egg-info/

# Ignore temporary or system files
.DS_Store

# Ignore Excel temporary files
~$*.xlsx
